{%extends 'core/base.html'%}
{% load static%}
{% block title %}{% endblock %}
{% block content %}
<h4>Registrar Trabajo de Incidencia</h4>
<form method="post" action="{% url 'crear_registro' %}">
    {% csrf_token %}
    <p>
        <select name="incidencia" id="incidencia">
        <option value="">Seleccione La Incidencia Resuelta</option>
            {% for incidencia in incidencias %}
                <option value="{{ incidencia.id }}">{{ incidencia.titulo }} {{ incidencia.ubicacion }}
                </option>
            {% endfor %}
        </select>
    </p>

    <p><textarea name="descripcion" placeholder="Ingrese descripción para el registro de trabajo"></textarea></p>

    <p><input type="submit" value="Guardar"/></p>
    <a href="{% url 'main_cuadrilla' %}">Cancelar y Volver</a>
</form>
{% if messages %}
<div class="alert alert-success mt-3">
    <ul class="mb-0">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}