{% extends 'core/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
  <h2>Incidencias Resueltas</h2>

  {% if registros %}
    <div class="table-responsive">
    <table class="table table-striped table-hover align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th scope="col">Incidencia</th>
                <th scope="col">Cuadrilla</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripción</th>
            </tr>
        </thead>
      <tbody>
        {% for registro in registros %}
          <tr>
            <td>{{ registro.incidencia }}</td>
            <td>{{ registro.cuadrilla }}</td>
            <td>{{ registro.fecha|date:"d/m/Y H:i" }}</td>
            <td>{{ registro.descripcion }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay registros aún.</p>
  {% endif %}
</div>
<a href="{% url 'main_cuadrilla' %}">Volver</a>
{% endblock %}

{% if messages %}
<div class="alert alert-success mt-3">
    <ul class="mb-0">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}