{% extends 'core/base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
  <h2>Incidencias Resueltas</h2>

  {% if registros %}
    <div class="table-responsive">
    <table class="table table-striped table-hover align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th scope="col">Incidencia</th>
                <th scope="col">Cuadrilla</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
      <tbody>
        {% for registro in registros %}
          <tr>
            <td>{{ registro.incidencia }}</td>
            <td>{{ registro.cuadrilla }}</td>
            <td>{{ registro.fecha|date:"d/m/Y H:i" }}</td>
            <td>
                    <div class="d-flex justify-content-center gap-2 flex-wrap">
                        <a href="{% url 'detalle_registro' registro.id %}" class="btn btn-outline-dark btn-sm">Ver</a>
                        
                    </div>
                </td>

          </tr>
        {% endfor %}

        
      </tbody>
    </table>

    <div class="d-flex justify-content-center mt-3">
    <nav>
        <ul class="pagination">

            {% if registros.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ registros.previous_page_number }}">Anterior</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Anterior</span>
                </li>
            {% endif %}

            {% for num in registros.paginator.page_range %}
                {% if registros.number == num %}
                    <li class="page-item active">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if registros.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ registros.next_page_number }}">Siguiente</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Siguiente</span>
                </li>
            {% endif %}

        </ul>
    </nav>
</div>
    
  {% else %}
    <p>No hay registros aún.</p>
  {% endif %}

</div>
<a href="{% url 'main_cuadrilla' %}">Volver</a>
{% endblock %}

{% if messages %}
<div class="alert alert-success mt-3">
    <ul class="mb-0">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}