<h4>Nuevo Territorial</h4>
<form method="post" action="{% url 'guardar_territorial' %}">
  {% csrf_token %}

  <label>Usuario:</label>
  <select name="usuario" required>
    <option value="">-- Seleccione --</option>
    {% for u in usuarios %}
      <option value="{{ u.id }}">{{ u.username }}</option>
    {% endfor %}
  </select><br>
  <br>

  <label>Zona asignada:</label>
  <input type="text" name="zona_asignada"><br>
  <br>
  <button type="submit">Crear</button>
</form>

<br>
<a href="{% url 'gestion_territorial' %}">Volver</a>

{% if messages %}
<div class="alert alert-success mt-3">
    <ul class="mb-0">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
