<h4>Nuevo Territorial</h4>
<form method="post" action="{% url 'guardar_territorial' %}">
  {% csrf_token %}

  <label>Usuario:</label>
  <select name="usuario" required>
    <option value="">-- Seleccione --</option>
    {% for u in usuarios %}
      <option value="{{ u.id }}">{{ u.username }}</option>
    {% endfor %}
  </select><br>
  <br>

  <label>Zona asignada:</label>
  <input type="text" name="zona_asignada"><br>
  <br>
  <label>Observaciones:</label>
  <textarea name="observaciones"></textarea><br>
  <br>
  <button type="submit">Crear</button>
</form>

<br>
<a href="{% url 'main_territorial' %}">Volver</a>
