<h4>Listado de Territoriales</h4>
<hr>

<table border="1">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Zona Asignada</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for territorial in territoriales %}
        <tr>
            <td>{{ territorial.usuario.username }}</td>
            <td>{{ territorial.zona_asignada }}</td>
            <td>
                <a href="{% url 'editar_territorial' territorial.id %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'gestion_territorial'%}">Volver</a>