<h4>Ver Territorial</h4>

<table border="1">
  <thead>
    <tr>
      <th>Zona Asignada</th>
      <th>Usuario</th>
      <th>Estado</th>
      <th>Creado</th>
      <th>Actualizado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ territorial.zona_asignada }}</td>
      <td>{{ territorial.usuario.username }}</td>
      <td>{{ territorial.state }}</td>
      <td>{{ territorial.created }}</td>
      <td>{{ territorial.updated }}</td>
    </tr>
  </tbody>
</table>

<br>
<a href="{% url 'gestion_territorial' %}">Volver</a>

{% if messages %}
<div class="alert alert-success mt-3">
    <ul class="mb-0">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
