<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nombre del Sistema</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: rgba(141, 153, 200, 0.838);
        }

        main {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem 0;
        }

        footer {
            background-color: #ffffff;
            padding: 1rem 0;
            text-align: center;
            width: 100%;
        }

        .alert {
            margin-bottom: 1rem;
        }

        .sidebar {
            width: 280px;
            min-height: 100vh;
        }

        .logo {
            max-height: 50px;
        }
        .sidebar .nav-link {
            transition: background-color 0.25s ease, padding-left 0.25s ease;
        }

        .sidebar .nav-link:hover {
            background-color: #495057;
            padding-left: 12px;
        }

        header a.nav-link {
        transition: transform 0.25s ease;
        }

        header a.nav-link:hover {
        transform: scale(1.15);
        }

</style>

</head>

<body>
    <header class="bg-light text-black border py-4">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <span class="h5 mb-0 ms-4">Municipalidad</span>
        
        <a href="{% url 'ver_perfil' %}" class="nav-link active d-flex align-items-center">
            <i class="bi bi-person-circle me-1"></i> Perfil
        </a>
    </div>
</header>


    
    <div class="row col-12 m-0">
        <div class="col-2 p-0">
            <div class="d-flex flex-column flex-shrink-0 p-2 text-white bg-dark sidebar">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-4">Menú Principal</span>
                </a>
                <hr>

                <ul class="nav nav-pills flex-column mb-auto">
                    <!-- ======================= ADMINISTRADOR ======================= -->
                    {% if user.profile.group_id == 1 %}
                        <li class="nav-item">
                            <a href="{% url 'main_usuario' %}" class="nav-link text-white" >Gestión Usuarios</a>
                        </li>
                        <li><a href="{% url 'gestion_direccion' %}" class="nav-link text-white">Gestión Direcciones</a></li>
                        <li><a href="{% url 'gestion_departamento' %}" class="nav-link text-white">Gestión Departamentos</a></li>
                        <li><a href="{% url 'gestion_cuadrilla' %}" class="nav-link text-white">Gestión Cuadrillas</a></li>
                        <li><a href="{% url 'gestion_incidencia' %}" class="nav-link text-white">Gestión Incidencias</a></li>
                        <li><a href="{% url 'main_encuesta' %}" class="nav-link text-white">Gestión Encuestas</a></li>
                        <li>
                            <form method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="nav-link text-white">
                                    Cerrar sesión
                                </button>
                            </form>
                        </li>


                    <!-- ======================= DIRECCIÓN ======================= -->
                    {% elif user.profile.group_id == 2 %}
                        <li><a href="{% url 'departamento_e_incidencia_asociadas' %}" class="nav-link text-white">Mis Departamentos</a></li>
                        <li><a href="{% url 'incidencias_direccion' %}" class="nav-link text-white">Incidencias de mi Dirección</a></li>
                        <li>
                            <form method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="nav-link text-white">
                                    Cerrar sesión
                                </button>
                            </form>
                        </li>
                    <!-- ======================= DEPARTAMENTO ======================= -->
                    {% elif user.profile.group_id == 3 %}
                        <li><a href="{% url 'incidencias_usuario_departamento' %}" class="nav-link text-white">Gestión Incidencias</a></li>
                        <li><a href="{% url 'main_encuesta' %}" class="nav-link text-white">Gestión Encuestas</a></li>
                        <li><a href="{% url 'cuadrillas_usuario_departamento' %}" class="nav-link text-white">Gestión Cuadrillas</a></li>
                        <li>
                            <form method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="nav-link text-white">
                                    Cerrar sesión
                                </button>
                            </form>
                        </li>
                    <!-- ======================= TERRITORIAL ======================= -->
                    {% elif user.profile.group_id == 4 %}
                        <li><a href="{% url 'crear_incidencia' %}" class="nav-link text-white">Crear Incidencia</a></li>
                        <li><a href="{% url 'gestion_incidencia' %}" class="nav-link text-white">Mis Incidencias Creadas</a></li>
                        <li>
                            <form method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="nav-link text-white">
                                    Cerrar sesión
                                </button>
                            </form>
                        </li>
                    <!-- ======================= CUADRILLA ======================= -->
                    {% elif user.profile.group_id == 5 %}
                        <li><a href="{% url 'ver_incidencias_cuadrilla' %}" class="nav-link text-white">Incidencias Asignadas</a></li>
                        <li><a href="{% url 'crear_registro' %}" class="nav-link text-white">Registrar Incidencia Resuelta</a></li>
                        <li><a href="{% url 'ver_registro' %}" class="nav-link text-white">Incidencias Resueltas</a></li>
                        <li>
                            <form method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="nav-link text-white">
                                    Cerrar sesión
                                </button>
                            </form>
                        </li>
                    {% else %}
                        <li><span class="text-secondary ps-3">No hay menús disponibles</span></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!-- CONTENIDO CENTRAL -->
        <div class="col-9 bg-white p-4 rounded shadow-sm">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

