<h4>Menú Administrador</h4>
<hr>
<a href="{% url 'main_usuario' %}">Gestión Usuarios</a>
<br>
<a href="{% url 'main_direccion' %}">Gestión Direcciones</a>
<br>
<a href="{% url 'main_departamento' %}">Gestión Departamentos</a>
<br>
<a href="{% url 'main_cuadrilla' %}">Gestión Cuadrillas</a>
<br>
<a href="{% url 'main_incidencia' %}">Gestión Incidencias</a>
<br>
<a href="{% url 'main_encuesta' %}">Gestión Encuesta</a>
<br>
<a href="{% url 'main_territorial' %}">Gestión Territoriales</a>



