<h4>Listado de Direcciones </h4>
<hr>

<table border="1">
    <thead>
        <tr>
            <th>Nombre de la Dirección</th>
            <th>Encargado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for direccion in direcciones %}
        <tr>
            <td>{{ direccion.nombre_direccion }}</td>
            <td>{{ direccion.usuario.username }}</td>
            <td>
                <a href="{% url 'editar_direccion' direccion.id %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'gestion_direccion'%}">Volver</a>