<h4></a4>Menú Direcciones</4>
</hr>
<br/><br/>
<a href="{%url 'crear_direccion' %}"> Nueva Dirección</a>
<br>
<hr/>
<table border="1">
    <thead>
        <tr>
            <th>Nombre de la Dirección</th>
            <th>Encargado de la Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    {% for dir in direcciones %}
        <tr>
            <td>{{ dir.nombre_direccion }}</td>
            <td>{{ dir.usuario.username }}</td>
            <td>
                <a href="{% url 'ver_direccion' dir.id %}">Ver</a> 
                <a href="{% url 'editar_direccion' dir.id %}">Editar</a>
            </td>
        </tr>
    {% endfor %}
</table>
<a href="{% url 'main_admin' %}"> Volver a menú</a>