{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear Usuario{% endblock %}

{% block content %}
<h4>Crear Nuevo Usuario</h4>

<form method="post" action="{% url 'guardar_usuario' %}">
    {% csrf_token %}
    <label>Nombre de Usuario:</label><br>    
    <p><input type="text" name="username" placeholder="Ingrese nombre de usuario"required style="width: 30%;"/></p>
    <label>Nombre:</label><br>
    <p><input type="text" name="first_name" placeholder="Ingrese su nombre"required style="width: 30%;"/></p>
    <label>Apellido:</label><br>
    <p><input type="text" name="last_name" placeholder="Ingrese su apellido"required style="width: 30%;"/></p>
    <label>Contraseña:</label><br>
    <p><input type="password" name="password" placeholder="Ingrese su contraseña"required style="width: 30%;"/></p>
    <label>Correo:</label><br>
    <p><input type="text" name="email" placeholder="Ingrese su correo electrónico"required style="width: 30%;"/></p>

    <p>
        <label>Tipo de Usuario:</label><br>
        <select name="group_id" id="group_id" class="form-control" required style="width: 30%;">
            <option value="">Seleccione un perfil de usuario</option>
            {% for g in grupos %}
                <option value="{{ g.id }}">{{ g.name }}</option>
            {% endfor %}
        </select>
    </p>

    <!-- Campo zona (solo para territoriales) -->
    
    <p id="zona_field" style="display:none;">
        <label>Zona Asignada:</label><br>
        <input type="text" class="form-control" name="zona" placeholder="Ingrese la zona" required style="width: 30%;">
    </p>

    <p><input type="submit" value="Crear"/></p>
    <a href="{% url 'main_usuario' %}">Volver al menú de gestión</a>
</form>

<script>
    const groupSelect = document.getElementById("group_id");
    const zonaField = document.getElementById("zona_field");

    groupSelect.addEventListener("change", function() {
        const selected = this.options[this.selectedIndex].text;
        zonaField.style.display = selected === "Territorial" ? "block" : "none";
    });
</script>

{% if messages %}
<div class="alert alert-success mt-3">
    <ul class="mb-0">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}
