<h2>Eliminar Usuario</h2>
<table border="1">
    <tr>
        <th>Username</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Acción</th>
    </tr>
    {% for u in usuarios %}
    <tr>
        <td>{{ u.username }}</td>
        <td>{{ u.first_name }} {{ u.last_name }}</td>
        <td>{{ u.email }}</td>
        <td>
            <a href="{% url 'eliminar_usuario' u.id %}" onclick="return confirm('¿Seguro que deseas eliminar este usuario?');">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="{% url 'main_usuario' %}">Volver al menú de gestión</a>
