<h4>Incidencias Bloqueadas</h4>

<table border="1">
  <thead>
    <tr>
      <th>Título</th>
      <th>Tipo</th>
      <th>Departamento</th>
      <th>Territorial</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for i in incidencias %}
      <tr>
        <td>{{ i.titulo }}</td>
        <td>{{ i.tipo }}</td>
        <td>{{ i.departamento.nombre_departamento }}</td>
        <td>{{ i.territorial.usuario.username }}</td>
        <td>{{ i.state }}</td>
        <td>
          <a href="">Ver</a>
          <a href="{% url 'editar_incidencia' i.id %}">Editar</a>
          <a href="{% url 'bloquear_incidencia' i.id %}">
            {% if i.state == "Activo" %}
              Bloquear
            {% else %}
              Activar
            {% endif %}
          </a>
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="5">No hay registros</td></tr>
    {% endfor %}
  </tbody>
</table>

{% if messages %}
  <ul>
    {% for message in messages %}
      <li style="color: green;">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<br>
<a href="{% url 'gestion_incidencia' %}">Volver al menú</a>