<h4>Menú Incidencias</h4>
<hr/>
    <a href="{% url 'ver_incidencias_bloqueo' %}">Incidencias Bloqueadas</a>

<br/><br/>

<table border="1">
    <thead>
        <tr>
            <th>Título</th>
            <th>Tipo</th>
            <th>Departamento</th>
            <th>Territorial</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for inc in incidencias %}
        <tr>
            <td>{{ inc.titulo }}</td>
            <td>{{ inc.tipo }}</td>
            <td>{{ inc.departamento.nombre_departamento }}</td>
            <td>{{ inc.territorial.usuario.username }}</td>
            <td>{{ inc.state }}</td>
            <td>
                <a href="#">Ver</a>
                {% if profile.group_id == 1 %}
                    
                    | <a href="{% url 'bloquear_incidencia' inc.id %}">
                        {% if inc.state == "Activo" %}
                            Bloquear
                        {% else %}
                            Activar
                        {% endif %}
                      </a>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="6">No hay incidencias activas.</td></tr>
    {% endfor %}
    </tbody>
</table>

{% if messages %}
    <ul>
    {% for message in messages %}
        <li style="color: green;">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<br/>
<a href="{% url 'main_admin' %}">Volver al menú</a>