{%extends 'core/base.html'%}
{% load static%}
{% block title %}{% endblock %}
{% block content %}
<h4>Incidencias Asignadas a: {{ departamento.nombre_departamento }}</h4>
<hr/>

<div class="table-responsive">
    <table class="table table-striped table-hover align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Tipo</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
    <tbody>
    {% for inc in incidencias %}
        <tr>
            <td>{{ inc.titulo }}</td>
            <td>{{ inc.tipo }}</td>
            <td>{{ inc.ubicacion }}</td>
            <td>{{ inc.state }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="5">No tienes incidencias asignadas a tu departamento.</td></tr>
    {% endfor %}
    </tbody>
</table>

{% if messages %}
    <ul>
    {% for message in messages %}
        <li style="color: green;">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<br/>
<a href="{% url 'main_departamento' %}">Volver al menú</a>
{% endblock %}
