{% extends 'core/base.html' %}
{% load static %}
{% block title %}Gestión de Departamentos{% endblock %}
{% block content %}
<h4>Crear Nueva Encuesta</h4>
<form method="post" action="{% url 'guardar_encuesta' %}">
    {% csrf_token %}
    <p><input type="text" name="nombre_encuesta" placeholder="Ingrese nombre de encuesta"/></p>
    <p><input type="text" name="tipo" placeholder="Ingrese tipo de encuesta"/></p>
    <p><textarea name="descripcion" placeholder="Ingrese descripcion para la encuesta"></textarea></p>
    <p><input type="text" name="prioridad" placeholder="Indique prioridad de la encuesta"/></p>
    <h4>Preguntas:</h4>
    <div id="preguntas-container">
        <input type="text" name="preguntas[]" placeholder="Escriba una pregunta" required>
    </div>

    <a href="#" id="agregar-pregunta" style="color: purple; text-decoration: none;">➕ Agregar pregunta</a><br><br>
    {% if es_admin %}
    <p>
        <label for="departamento">Seleccione Un Departamento:</label><br>
        <select name="departamento" id="departamento">
            {% for departamento in departamentos %}
                <option value="{{ departamento.id }}">{{ departamento.nombre_departamento }}
                </option>
            {% endfor %}
        </select>
    </p>
    {% endif %}


    

    <p><input type="submit" value="Crear"/></p>
</form>
<a href="{% url 'main_encuesta' %}">Volver al menú</a>
{% endblock %}

{% if messages %}
<div class="alert alert-success mt-3">
    <ul class="mb-0">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<script>
document.getElementById('agregar-pregunta').addEventListener('click', function(e) {
    e.preventDefault();
    const container = document.getElementById('preguntas-container');
    const nuevoCampo = document.createElement('input');
    nuevoCampo.type = 'text';
    nuevoCampo.name = 'preguntas[]';
    nuevoCampo.placeholder = 'Escriba una pregunta';
    nuevoCampo.required = true;
    container.appendChild(document.createElement('br'));
    container.appendChild(nuevoCampo);
});
</script>