<h4>Listado de Departamento</h4>
<hr>
<br>
<table border="1">
    <thead>
        <tr>
            <th>Nombre del Departamento</th>
            <th>Encargado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for depto in departamentos %}
        <tr>
            <td>{{ depto.nombre_departamento }}</td>
            <td>{{ depto.usuario.username }}</td>
            <td>
                <a href="{% url 'editar_departamento' depto.id %}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<a href="{% url 'gestion_departamento' %}">Volver</a>