{% extends 'core/base.html' %}
{% load static %}
{% block title %}Gestión de Departamentos{% endblock %}
{% block content %}
<h4>Ver Departamento</h4>
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nombre Departamento</th>
                <th scope="col">Encargado</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha de Creación</th>
                <th scope="col">Fecha de Modificación</th>
            </tr>
        </thead>
  <tbody>
    <tr>
      <td>{{ departamentos.nombre_departamento }}</td>
      <td>
        {% if departamentos.usuario %}
          {{ departamentos.usuario.username }}
        {% else %}
          (sin usuario)
        {% endif %}
      </td>
      <td>{{departamentos.state}}</td>
      <td>{{departamentos.created|date:"Y-m-d H:i"}}</td>
      <td>{{departamentos.updated|date:"Y-m-d H:i"}}</td>
    </tr>
  </tbody>
</table>

<a href="{% url 'gestion_departamento' %}">Volver</a>
{% endblock %}

{% if messages %}
<div class="alert alert-success mt-3">
    <ul class="mb-0">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}