<!DOCTYPE html>
{% extends 'core/base_login.html' %}
{% load static %}
{% block title %}{% endblock %}<!-- Opcional-->
{% block content %}
<div class="row">
    <div class="col-12 mt-2 text-center">
        <h4>Ingrese sus datos</h4>
    </div>
    <form class="login-form" action="" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="col-12 mt-2">
                <p style="color:red">Credenciales erróneas</p>
            </div>
        {% endif %}
        <div class="col-12 mt-2">
            <input type="text" name="username" placeholder="Ingrese el nombre de usuario" class="form-control" required/>
        </div>
        <div class="col-12 mt-2">
            <input type="password" name="password" placeholder="Ingrese su contraseña" class="form-control" required/>
        </div>
        <div class="col-12 mt-2">
            <button type="submit" class="btn btn-primary form-control">
                <span>Iniciar Sesión</span>
            </button>
        </div>
        <div class="col-12 mt-2 text-end">
            <a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
        </div>
    </form>
</div>
{% endblock %}

