{% block content %}
{% load static %}
  <div>
    <div>
      <div>
        <div>
          <h4>Restablecimiento de Contraseña Enviado</h4>
          <hr>
          <p>Le hemos enviado por email las instrucciones para restablecer la contraseña,
            si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
          <hr>
          <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección
            de correo con la que se registró y verifique su carpeta de spam.</p>
          <hr>
          <div>
            <a href="{% url 'login' %}">Volver al inicio</a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
