{% block content %}
{% load static %}
  <div>
    <div>
      <div>
        <main>
          <div>
            <h4>Restablecer Contraseña</h4>
            <p>¿Ha olvidado su clave?</p>
            <p>Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para
              establecer una nueva.</p>
            <form action="" method="post">
              {% csrf_token %}
              {{ form.email.errors }}
              <div>
                <input type="email" name="email" maxlength="254" required="" id="id_email" placeholder="Introduce tu email"/>
              </div>
              <div>
                <button type="submit" value="Confirmar">
                  <span>Confirmar</span>
                </button>
              </div>
            </form>
            <p><a href="{% url 'login' %}">Volver al inicio</a></p>
          </div>
        </main>
      </div>
    </div>
  </div>
{% endblock %}
