{% load static %}
{% block title %}Cambio de Contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main>
  <div>
    <div>
      <div>
        <form action="" method="post">
            {% csrf_token %}
            {% if request.user.profile.first_session == 'Si' %}
              <h3>Primer Inicio de sesión</h3>
              <hr/>
              <h4>Paso 1 de 2 "Cambio de contraseña"</h4>
              <p>Por favor, introduzca la contraseña entregada por los administradores, luego introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
            {% else %}
              <h3>Cambio de Contraseña</h3>
              <p>Por favor, introduzca la contraseña antigua, luego introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
            {% endif %}
            {{form.old_password.errors}}
            <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password" placeholder="Contraseña antigua"></p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" placeholder="Contraseña nueva"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" placeholder="Contraseña nueva (confirmación)"></p>
            <div>
              <div>
                <p><input type="submit" value="Cambiar mi contraseña"></p>
              </div>
              <div>
                {% if request.user.profile.first_session == 'Si' %}
                  <a href="{% url 'logout' %}">Salir</a>
                {% else %}
                  <a href="{% url 'check_profile' %}">Volver</a>
                {% endif %}
              </div> 
            </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}